body, html {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-family: sans-serif;
	text-align: justify;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	text-align: left;
	padding-top: 5px;
}

section {
	border-top: 2px black solid;
	padding-top: 5px;
	padding-bottom: 10px;
}

ol {
	margin-left: 45px;
	padding: 0;
}

header section {
	border: none;
	padding: 0 0 10px 0;
	margin: 0;
}

.author {
	font-size: 90%;
	color: gray;
	padding-left: 10px;
	margin-left: 20px;
	border-left: 2px gray solid;
}

.contrast-item {
	margin-left: 25px;
	margin-right: 75px;
	margin-bottom: 25px;
}

.contrast-item p {
	border: 2px black solid;
	padding: 15px;
	margin: 0px;
}

.contrast-item h3 {
	margin: 0px;
	padding: 0px;
}